html {
    font-size: 16px; /* 16 px = 1em */
}
body {
    font-size: 62.5%; /* 10 px = 1em */
}

/* Wrapper for page content to push down footer */
.wrap {
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
.footer {
    margin-top: 40px;
    height:60px;
    border-top: 1px solid #898989;
    background-color: #b7b7b7;
    padding-top: 15px;
    text-align: left;
    font-size: 1.2em;
}

.footer span {
    font-size: 1.1em;
    color: #333333;
}

.nav a {
    font-size: 1.6em; 
}
.glyphicon {
    color: #6b6b6b;
    font-size: 1em;
}
.caret {
    color: #6b6b6b;
}

.jumbotron {    
    text-align: center;    
    font-family: "Shift", sans-serif;
    background-color: white;
    }
.jumbotron #babies {
    height: auto;
    width:100%;
}
.jumbotron h1 {
    font-size: 6.5em;
}
.jumbotron p {
    font-size: 2.3em;
}

.other {
    text-align:center;
    font-family: "Shift", sans-serif;
}
.other h1 {
    font-size: 2.6em;
    font-weight: bold;
}
.other p {
    font-size: 1.4em;
}
span {
    color: #B07B43;
    font-weight: bold;
}

.tg {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.tg td {
    font-family: "Shift", sans-serif;
    font-size: 1.4em;
    padding: 15px 15px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}
.tg th {
    padding: 15px 15px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}
.tg .tg-wm4t {
    font-weight: bold;
    font-size: 2.0em;
    text-align: center;
}
.tg .tg-wm6t {
    font-weight: bold;
    font-size: 1.8em;
    }
    


.button {
    text-align: center;
}
.button li {
	display: inline-block;
	border-radius: 15px;
	border: 2px solid #B07B43;
	background-color: #B8946E; 
	height: 80px;
	width: 130px;
	padding: 5px;
}
.button a {
	text-decoration: none;
	color: #000000;
	font-family: Verdana, sans-serif;
    font-size: 1.3em;
}
.button span {
	font-weight: bold;
	font-size: 1.4em;
	color: #ffffff;
}
a:link {
    color: black;
}
a:visited {
    color: green;
}
a:hover {
    color: white;
}
#pink:hover {
    color: #FF00EA;
}
a:active {
    color: red;
}
